* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#secret-word {
    font-size: 60px;
}

.retry-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.1s;
  }
  
  .retry-button:hover {
    background-color: #3e8e41;
  }
  
  .retry-button:active {
    background-color: #246335;
  }
  

#secret-word span{
    padding: 3px;
}

#wrong-word {
    letter-spacing: 5px;
    padding-bottom: 50px;
}

#lives {
    font-size: 80px;
    color: red;
    padding-bottom: 30px;
}

#hangman-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 8px;
    
}

#hangman-container img {
    position: absolute;
}

#hangman-1 {
    display: none;
}

#hangman-2 {
    display: none;
}

#hangman-3 {
    display: none;
    left: 172px;
}

#hangman-4 {
    display: none;
    left: 145px;
    top: 45px;
}

#hangman-5 {
    display: none;
    top: 102px;
    left: 172px;
}

#hangman-6 {
    display: none;
    top: 120px;
    left: 142px;
}

#hangman-7 {
    display: none;
    top: 120px;
    left: 177px;
}

#hangman-8 {
    display: none;
    top: 180px;
    left: 142px;
}

#hangman-9 {
    display: none;
    top: 45px;
    left: 142px;
}